@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818182
rojo = #BD255B

body
	font-family 'Varela Round', sans-serif
	text-size 16px

figure
	margin 0 
	
a 
	text-decoration none
	
img
	vertical-align top 
	
.button-menu
	color gris_oscuro
	left .5em
	margin-top -10px
	position absolute
	top 50%
.border-bottom
	border-bottom 1px solid gris_claro
.container
	font-size 0
	padding 1.4rem
	text-align center
.name
	color gris_oscuro
.menu
	display none
.relative
	position relative
.right-text
	text-align right
.action 
	color #fff
	margin-right .5em
	font-size 1.2em
	&:last-child
		margin-right 0
	&.gray
		color gris_oscuro

.actions
	position absolute
	bottom 0
	left 0
	right 0
	background rgba(black,.3)

.author
	color gris_claro
	
.center-block
	margin 0 auto
	
.center-text
	text-align center

.padding
	padding 1em

.padding-tb
	padding 1em 0

.progress
	position relative
	margin 1em 0 
	.min 
		font-size .8em
		position absolute
		left 0
		top -5px
	.max
		font-size .8em
		position absolute
		right 0
		top -5px
		
		
		
	.total
		height 5px
		background gris_claro
		width 75%
		border-radius 5px
		margin 0 auto
		
	.state
		background rojo 
		height 5px
		width 30%
		border-radius 5px
		position relative 
		
	.circle
		background gris_oscuro
		height 10px
		width 10px
		border-radius 50%
		position absolute
		top -2px
		right 0
		

.header
	height 3.5em
	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em
		
.song
	display inline-block 
	font-size 1rem
	margin-bottom 1em
	margin-right 1em 
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0

.playing
	&.small
		width 20em
	